DB_HOST=db
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your_password_here

# Azure Read-Only SAS key
AZURE_STORAGE_CONNECTION_STRING=BlobEndpoint=https://c3ddata.blob.core.windows.net/;QueueEndpoint=https://c3ddata.queue.core.windows.net/;FileEndpoint=https://c3ddata.file.core.windows.net/;TableEndpoint=https://c3ddata.table.core.windows.net/;SharedAccessSignature=REMOVED
# The container includes: 11 .c3d files as well as 11 .txt files, 1 file with unusual filename, and 1 duplicate file
# The abnormal files are used to demonstrate the safety features of the system, skipping the non-c3d files, failing the import for the file with the unusual name and rejecting the duplicate file.